NEXT_PUBLIC_URL="http://localhost:3000"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/skndan"
 
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
 
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=""
 
DODO_PAYMENTS_API_KEY=""
DODO_PAYMENTS_ENVIRONMENT="test_mode"